<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Your Marks</title>
</head>
<body>
<form action="/submit" method="POST"
<label>social:</label>
<input type="text" id="social" name="social"><br><br>
<label>science:</label>
<input type="text" id="science" name="science"><br><br>
<label>tamil:</label>
<input type="text" id="tamil" name="tamil"><br><br>
<label>English:</label>
<input type="text" id="English" name="English"><br><br>
<label>Maths:</label>
<input type="text" id="Maths" name="Maths"><br><br>

<button type="submit">submit</button>

</form>
</body>
</html>